

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Templatetags &mdash; django-disqus v0.3.2 documentation</title>
    <link rel="stylesheet" href="_static/default.css" type="text/css" />
    <link rel="stylesheet" href="_static/pygments.css" type="text/css" />
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '',
        VERSION:     '0.3.2',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="_static/jquery.js"></script>
    <script type="text/javascript" src="_static/underscore.js"></script>
    <script type="text/javascript" src="_static/doctools.js"></script>
    <link rel="top" title="django-disqus v0.3.2 documentation" href="index.html" />
    <link rel="next" title="Commands" href="commands.html" />
    <link rel="prev" title="Installation" href="installation.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="commands.html" title="Commands"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="installation.html" title="Installation"
             accesskey="P">previous</a> |</li>
        <li><a href="index.html">django-disqus v0.3.2 documentation</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="templatetags">
<span id="id1"></span><h1>Templatetags<a class="headerlink" href="#templatetags" title="Permalink to this headline">¶</a></h1>
<p>Before you can use the template tags, you need to load them with
<tt class="docutils literal"><span class="pre">{%</span> <span class="pre">load</span> <span class="pre">disqus_tags</span> <span class="pre">%}</span></tt>.</p>
<div class="section" id="disqus-dev">
<h2>disqus_dev<a class="headerlink" href="#disqus-dev" title="Permalink to this headline">¶</a></h2>
<p>Return the HTML/Javascript code to enable DISQUS comments on a local
development server. This template tag will only return a value
if the <tt class="docutils literal"><span class="pre">settings.DEBUG</span></tt> setting is set to <tt class="xref docutils literal"><span class="pre">True</span></tt>. If you don&#8217;t
include this, the comment form will not show up on a local development server.</p>
<p>Example:</p>
<div class="highlight-python"><pre>{% load disqus_tags %}
{% disqus_dev %}</pre>
</div>
<p>Result:</p>
<div class="highlight-python"><pre>&lt;script type="text/javascript"&gt;
  var disqus_developer = 1;
  var disqus_url = 'http://arthurkoziel.com/';
&lt;/script&gt;</pre>
</div>
</div>
<div class="section" id="disqus-show-comments">
<h2>disqus_show_comments<a class="headerlink" href="#disqus-show-comments" title="Permalink to this headline">¶</a></h2>
<p>Return the HTML code to display DISQUS comments. This includes
the comments for the current Thread and the comment form.</p>
<p>Example:</p>
<div class="highlight-python"><pre>{% load disqus_tags %}
{% disqus_show_comments %}</pre>
</div>
<p>Result:</p>
<div class="highlight-python"><pre>&lt;div id="disqus_thread"&gt;&lt;/div&gt;
&lt;script type="text/javascript" src="http://disqus.com/forums/arthurkozielsblog/embed.js"&gt;&lt;/script&gt;
&lt;noscript&gt;&lt;p&gt;&lt;a href="http://arthurkozielsblog.disqus.com/?url=ref"&gt;View the discussion thread.&lt;/a&gt;&lt;/p&gt;&lt;/noscript&gt;
&lt;p&gt;&lt;a href="http://disqus.com" class="dsq-brlink"&gt;blog comments powered by &lt;span class="logo-disqus"&gt;Disqus&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;</pre>
</div>
<p><strong>Options</strong>:</p>
<blockquote>
<ul class="simple">
<li><tt class="docutils literal"><span class="pre">shortname</span></tt>: DISQUS website shortname that should be used. The
<tt class="docutils literal"><span class="pre">settings.DISQUS_WEBSITE_SHORTNAME</span></tt> setting takes precedence
over this parameter. Example: <tt class="docutils literal"><span class="pre">{%</span> <span class="pre">disqus_show_comments</span> <span class="pre">&quot;foobar&quot;</span> <span class="pre">%}</span></tt></li>
</ul>
</blockquote>
</div>
<div class="section" id="disqus-num-replies">
<h2>disqus_num_replies<a class="headerlink" href="#disqus-num-replies" title="Permalink to this headline">¶</a></h2>
<p>Return the HTML/Javascript code that transforms links which end with an
<tt class="docutils literal"><span class="pre">#disqus_thread</span></tt> anchor into the thread&#8217;s comment count.</p>
<p>Example:</p>
<div class="highlight-python"><pre>{% load disqus_tags %}
&lt;a href="{{ object.get_absolute_url }}#disqus_thread"&gt;View Comments&lt;/a&gt;
{% disqus_num_replies %}</pre>
</div>
<p>Template Tag output:</p>
<div class="highlight-python"><pre>&lt;script type="text/javascript"&gt;
...
&lt;/script&gt;</pre>
</div>
<p>The javascript will then transform the link to:</p>
<div class="highlight-python"><pre>&lt;a href="foobar/"&gt;2 Comments&lt;/a&gt;</pre>
</div>
<p><strong>Options</strong>:</p>
<blockquote>
<ul class="simple">
<li><tt class="docutils literal"><span class="pre">shortname</span></tt>: DISQUS website shortname that should be used. The
<tt class="docutils literal"><span class="pre">settings.DISQUS_WEBSITE_SHORTNAME</span></tt> setting takes precedence over this
parameter. Example: <tt class="docutils literal"><span class="pre">{%</span> <span class="pre">disqus_num_replies</span> <span class="pre">&quot;foobar&quot;</span> <span class="pre">%}</span></tt></li>
</ul>
</blockquote>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Templatetags</a><ul>
<li><a class="reference internal" href="#disqus-dev">disqus_dev</a></li>
<li><a class="reference internal" href="#disqus-show-comments">disqus_show_comments</a></li>
<li><a class="reference internal" href="#disqus-num-replies">disqus_num_replies</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="installation.html"
                        title="previous chapter">Installation</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="commands.html"
                        title="next chapter">Commands</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="_sources/templatetags.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="search.html" method="get">
      <input type="text" name="q" size="18" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="commands.html" title="Commands"
             >next</a> |</li>
        <li class="right" >
          <a href="installation.html" title="Installation"
             >previous</a> |</li>
        <li><a href="index.html">django-disqus v0.3.2 documentation</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2010, Arthur Koziel.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.0.4.
    </div>
  </body>
</html>